#Ignore thumbnails created by windows
Thumbs.db
#Ignore files build by VC
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.txt
#Ignore files build by VS
[Bb]in
[Dd]ebug*/
[Rr]elease/
obj/
.vs/*
[Tt]est[Rr]esult*
*.vsp
*.opensdf
#Ignore files build by kdiff
*.orig
#Ignore files build by this project[ETL]
