<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--IOC容器实现-->
    <add key="DIResolverTypeName" value="DP.Infrastructure,DP.Infrastructure.UnityResolver" />
    <!--侦听并行线程数-->
    <add key="MSMQTHREADSNUM" value="4"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>