<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--自定义参数字符串配置-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--endregion-->
  
  <!--region 数据库连接配置-->
  <connectionStrings>
    <add name="ETLDB" connectionString="provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ETLDB;persist security info=True;user id=sa;password=****;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--endregion-->
  
  <!--region IOC容器配置-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register name="CacheProvider" type="DC.ETL.Infrastructure.Cache.ICacheProvider, DC.ETL.Infrastructure" mapTo="DC.ETL.Infrastructure.Cache.RedisCacheProvider, DC.ETL.Infrastructure">
      </register>
      <register name="EFUnitOfWork" type="DC.ETL.DC.ETL.Repository.UnitOfWork.IEFUnitOfWork, DC.ETL.Repository" mapTo="DC.ETL.DC.ETL.Repository.UnitOfWork.EFUnitOfWork, DC.ETL.Repositorye">
      </register>

      <register name="ExtractUnit" type="DC.ETL.Domain.IExtractUnitRepository, DC.ETL.Repository" mapTo="DC.ETL.Repository.EFRepository.ExtractUnitRepository, DC.ETL.Repositorye">
      </register>
      <register name="DataSource" type="DC.ETL.Domain.IDataSourceRepository, DC.ETL.Repository" mapTo="DC.ETL.Repository.EFRepository.DataSourceRepository, DC.ETL.Repositorye">
      </register>
      <register name="ExtractStructure" type="DC.ETL.Domain.IExtractStructureRepository, DC.ETL.Repository" mapTo="DC.ETL.Repository.EFRepository.ExtractStructureRepository, DC.ETL.Repositorye">
      </register>
      <register name="OPRecord" type="DC.ETL.Domain.IOPRecordRepository, DC.ETL.Repository" mapTo="DC.ETL.Repository.EFRepository.OPRecordRepository, DC.ETL.Repositorye">
      </register>
      <register name="Schema" type="DC.ETL.Domain.ISchemaRepository, DC.ETL.Repository" mapTo="DC.ETL.Repository.EFRepository.SchemaRepository, DC.ETL.Repositorye">
      </register>
      <register name="Strategy" type="DC.ETL.Domain.IStrategyRepository, DC.ETL.Repository" mapTo="DC.ETL.Repository.EFRepository.StrategyRepository, DC.ETL.Repositorye">
      </register>
      <register name="Task" type="DC.ETL.Domain.ITaskRepository, DC.ETL.Repository" mapTo="DC.ETL.Repository.EFRepository.TaskRepository, DC.ETL.Repositorye">
      </register>
      <register name="WholeStructure" type="DC.ETL.Domain.IWholeStructureRepository, DC.ETL.Repository" mapTo="DC.ETL.Repository.EFRepository.WholeStructureRepository, DC.ETL.Repositorye">
      </register>
      
    </container>
  </unity>
  <!--endregion-->
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
